.tabscontainer {
  padding: 20px;
}

/* Style the tabs */
.tabs {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  text-align: center;
}

/* Style the tab */
.tab {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 90px;
  transition: 0.3s;
  font-size: 17px;
  /*
  border-right: 1px solid grey;
  border-left: 1px solid grey;
  margin-right: -1px;
  */
}

/* Change background color of buttons on hover */
.tab:hover {
  background-color: #ddd;
}

/* Create an active/current tab */
.tab:focus {
  background-color: #ccc;
}

/* Style the tab content */
.content {
  border: 1px solid #ccc;
  border-top: none;

  min-height: 100px;
}

.tabContent {
}

.imageDiv {
  max-width: 400px;
}
