.App {
  display: flex;
  margin: auto;
  justify-content: center;
  flex-wrap: wrap;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.header{

  text-align: center;
  height: 55px;
  width: 100%;
  background-color: #222222;
  color: white;
  font-size: 50px;
}

.headerText{

  margin-top: 20px;
  padding-top: 50px;

}

.footer{
  position: absolute;
  bottom: 0;
  font-size: 12px;
  margin-bottom: 5px;
}
