body {
  margin: 0;
  font-family: "PT Sans Narrow", sans-serif;
}
footer {
  position: fixed;
  bottom: 0px;
  text-align: center;
  font-size: 15px;
  text-align: center;
  width: 100%;
  color: black;
  background-color: lightgray;
}
